.HotAccessories{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 100PX;
}

.HotAccessories > div:nth-child(1)> img{
    cursor: pointer;
    transition: all 0.5s;
    width: 20vw;

  }

  .HotAccessories > div:first-child > img:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);

}

.HotAccessories > div:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
  }
  @media screen  and (max-width:663px){
    .HotAccessories{
      flex-direction: column;
    }
    .HotAccessories > div:nth-child(1)> img{
      width: 100%;
    }
    .HotAccessories > div:last-child{
      flex: 0;
      width: 100%;
      gap: 0px;
    }
    .HotAccessories > div:last-child >div {
      width: 120px;
    }
    .HotAccessories > div:last-child >div >p{
      font-size: 0.7rem;
      text-align: center; 
    }
    .HotItemCard > img{
      width: 100%;
    }
  }