.offerSection{
    display: flex;
    justify-content:center;
    width: 100%;
    margin: auto;
    align-items: center;
    height: 20rem;
    gap: 20px;
}
.offerSection > a :hover{
    box-shadow: 3px 3px  10px rgb(188, 185, 185);
    transition: all 0.3s ease;
}