.prefooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 80px 0px 40px 0px;
    width: 100%;
}
.prefooter > .prefooterIneer , .prefooterBottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.prefooterIneer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.prefooterIneer > div >svg{
    width: 40px;
    height: 40px;
    fill: rgb(181, 179, 179);
}
.prefooterIneer > div:hover svg{
    fill: black;
}
.prefooterBottom > div >p >b{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.prefooterBottom > div >p{
    font-weight: 300;
    text-align: center;
}
.input > .inputText{
    width: 350px;
    border: 1px solid rgb(194, 190, 190);
    padding: 17px;
    font-size: 1rem;
}
.input > .inputText::placeholder{
    font-size: 1rem;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.input >span {
    position: relative;
    left: -5%;
}
.input >span > svg{
    width: 12px;
    height: 12px;
    fill: rgb(77, 76, 76);
}
.prefooterBottom > div:nth-child(2){
    font-weight: 300;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.prefooterBottom > div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.prefooterBottom > div:nth-child(2) ,svg{
    fill: rgb(168, 167, 167);
}
.prefooterBottom > div:nth-child(2) ,svg:hover{
    fill: rgb(179, 177, 177);
}

/*-----------footer------------*/

.footer{
    background-color: black;
    justify-content: flex-start;
    display: flex;
    flex-direction:row;
    gap: 30px;
    padding: 80px 80px;
}
.footer > div > h5{
    padding-bottom: 10px;
    color: #f8f5f5;
    font-weight: 300;
}
.footer > div > div > a{
    text-decoration: none;
    color: #fefcfc;
    font-weight: 200;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.footer > div{
    flex-direction: column;

}
.footer div:nth-child(6){
    color: #f8f5f5;
    font-weight: 300;
    font-size: 0.7rem;
}
.chat{
    border: 1px solid #f8f5f5;
    padding: 12px 40px ;
    font-size: 0.9rem;
}

/*------------copyright---------*/

.copyright{
    background-color: black;
}
.copyright > p{
    border:none ;
    border-top: 1px solid #636262;
    width: 90%;
    margin: auto;
    padding: 20px;
    color: #f8f5f5;
    font-weight: 100;
}
@media screen  and (max-width:1315px){
    .chat{
        padding: 12px 20px ;
    }
}
@media screen  and (max-width:1070px){
    .prefooter{
        width: 95%;
        align-items: center;
    }
    /* .copyright > p{
        font-size: ;
    } */
    .chat{
        padding: 8px 15px ;
    }
    .prefooterIneer > div {
        gap: 10px;
    }
    .footer > div > h5{
        font-size: 0.9rem;
    }
    .footer > div > a{
        font-size: 0.7rem;
    }
    .prefooterBottom > div:nth-child(2){
        gap: 3px;
    }
    .input > .inputText::placeholder{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .input > .inputText{
        width: 250px;
        padding: 5px;
        font-size: 0.8rem;
    }
    .input >span {
        left: -8%;
    }
    .prefooterBottom > div >p >b{
        font-size: 1.2rem;
    }
    .prefooterBottom > div:nth-child(4){
        gap: 20px;
    }
}
@media screen  and (max-width:663px){
    .prefooter{
        width: 100%;
        padding: 20px 0px 0px 0px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    /* .copyright > p{
        font-size: ;
    } */
    .chat{
        padding: 8px 15px ;
    }
    .prefooterIneer{
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        border-bottom: 1px solid grey;
    }
    .prefooterIneer > div {
        gap: 10px;
        
    }
    .prefooterIneer > div >svg{
        position: relative;
        bottom: 5px;
    }
    .footer > div > h5{
        font-size: 0.9rem;
    }
    .footer > div > a{
        font-size: 0.7rem;
    }
    .prefooterBottom{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
        padding-left: 25px;
        width: 100%;
    }
    .prefooterBottom > div:nth-child(2){
        gap: 3px;
        align-items: center;
    }
    /* .prefooterBottom >div{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    } */
    .input > .inputText::placeholder{
        font-size: 0.8rem;
        font-weight: 300;
    }
    .input{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .input > .inputText{
        width: 250px;
        padding: 5px;
        font-size: 0.8rem;
        position: relative;
    }
    .input >span {
        left: -8%;
    }
    .prefooterBottom > div >p >b{
        font-size: 1.2rem;
    }
    .prefooterBottom > div:nth-child(4){
        gap: 20px;
    }
    .prefooterBottom > div:nth-child(2) {
        text-align: center;
    }
    /*----------footer-----------*/
    .footer{
        justify-content: flex-start;
        gap: 5px;
        padding: 10px 10px;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 1;
    }
    .footer > div{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
    }
    .footer > div > h5{
        padding-bottom: 10px;
        color: #f8f5f5;
        font-weight: 300;
        font-size: 0.6rem;
    }
    .footer > div > div > a{
        text-decoration: none;
        color: #fefcfc;
        font-weight: 200;
        font-size: 0.5rem;
        padding-bottom: 10px;
        padding-right: 10px;
        display: flex;
        gap: 30px;
    }
    .footer > div > div{
        flex-direction:row ;
        display: none;
    }
    .footer div:nth-child(6){
        color: #f8f5f5;
        font-weight: 300;
        font-size: 0.4rem;
        padding-bottom: 20px;
    }
    .chat{
        border: 1px solid #f8f5f5;
        padding: 8px 20px ;
        font-size: 0.9rem;
    }
    .copyright > p{
        font-size: 0.5rem;
    }
}