.hamburger-menu{
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 999;
}
.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    gap: 4px;
    height: 100%;
    position: relative;
    z-index: 999;
}
#menu2{
    display: none;
}
.hamburger-menu >.hamburger > .bar{
    background-color: rgb(154, 153, 153);
    width:28px ;
    height: 3px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
@media screen  and (max-width:991px){
    .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        width: 100%;
    }
    .open .bar:nth-child(1){
        transform: translateY(12px)  rotate(225deg);
    }
    .open .bar:nth-child(2){
        transform:translateX(15px);
        opacity: 0%;
    }
    .open .bar:nth-child(3){
        transform: translateY(-12px)  rotate(-225deg);
    }
    .hamburgerDisplay{
        display: block;
    }
}
@media screen  and (max-width:991px){
    .openmenu {
        transform: translateX(0) !important;
        opacity: 1 !important;
        display: block !important;
        display: flex !important;
        /* opacity: 0; */
        justify-content: center;
        flex-direction: column;
        top: 48px;
        bottom: 0;
        right: 0;
        gap: 20px;
        /* z-index: 900; */
    }
    #menu2{
        z-index: 900;
        position: absolute;
        
        background-color:rgb(255, 251, 251);
        width: 20%;
        height: 80%;
        overflow: hidden;
        transform: translateX(400px);
        transition: all 0.5s;
        display: none;
        transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);

    }
    #menu2 > a{
        text-decoration: none;
        font-size: 1rem;
        color: black;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0px 18px;
        overflow: hidden;
    }
}
@media screen  and (max-width:600px){
    #menu2{
        width: 60%;
    }
}